.container {
  width: 100%;
  max-width: 1440px;
  margin-left: 47px;
  margin-right: 47px;
}

.mainContent {
  display: flex;
}

.mainTitle {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "FerryBlack", sans-serif;
}

.mainText {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 70px;
}

.mainImage {
  margin-right: 48px;
  max-width: 100%;
  height: auto;
  display: block;
}

.btnRequest {
  background: #5970ff;
  color: #f5f5f5;
  padding: 8px 62px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  font-size: 22px;
  width: 335px;
  width: 100%;
  height: 59px;
  /*плавный переход */
  transition:
    transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  user-select: none; /* чтобы текст не выделялся при быстрых кликах */
}

.btnRequest:hover {
  /* Лёгкий прыжок вверх */
  transform: translateY(-4px) scale(1.2);
  /* Чуть более заметная тень при прыжке */
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.3);
  background-color: #d9d9d9;
  color: #3b3939;
}

.planesWrapper {
  display: flex;
  gap: 36px;
  margin: 48px 0 82px 0;
  padding-left: 48px;
  padding-right: 48px;
}

.planesTitle {
  font-size: 45px;
  font-family: "FerryBlack", sans-serif;
}

.fulldescriptionWrapper {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}

.featuresListTitle {
  margin: 0;
  font-size: 20px;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.featuresListWrapper {
  margin-top: 50px;
  margin-bottom: 30px;
}

.priceDeccription {
  margin: 0;
}

/* Адаптив для мобильных (до 768px, включая 375px) */
@media (max-width: 768px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .mainContent {
    display: block;
  }
  .mainTitle {
    font-size: 28px;
    font-weight: 800;
  }

  .mainText {
    font-size: 18px;
  }

  .mainText br {
    display: none;
  }

  .secondaryImage {
    max-height: 905px;
    max-width: 890px;
  }

  .planesTitle {
    font-size: 28px;
  }

  .planesWrapper {
    display: block;
    gap: 36px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .heroSection,
  .planes {
    padding: 0 14px;
  }

  .btnRequest {
    padding: 8px 50px;
  }
}
